<div class="welcome-section">
  <div class="parrafos">
    <h1 class="title" i18n>{{ titulillo }}</h1>
    <p class="subtitle mt-8" i18n>
      {{ subtitulillo }}
    </p>
  </div>
</div>

<div class="todo">
  <h3 class="mb-5" i18n>Próximas renovaciones</h3>
  <div>
    <table
      mat-table
      [dataSource]="detalles1.instalments"
      class="mat-elevation-z8"
    >
      <!-- No. de póliza Column -->
      <ng-container matColumnDef="nPolicy">
        <th mat-header-cell *matHeaderCellDef i18n>No. de póliza</th>
        <td class="table-inf-cont" mat-cell *matCellDef="let element">
          {{ detalles1.nPolicy }}
        </td>
      </ng-container>

      <!-- Nombre del riesgo Column -->
      <ng-container matColumnDef="riskName">
        <th mat-header-cell *matHeaderCellDef i18n>Nombre del riesgo</th>
        <td class="table-inf-cont" mat-cell *matCellDef="let element">
          {{ detalles1.riskName }}
        </td>
      </ng-container>

      <!-- Fecha de contrato Column -->
      <ng-container matColumnDef="startDate">
        <th mat-header-cell *matHeaderCellDef i18n>Fecha de contrato</th>
        <td class="table-inf-cont" mat-cell *matCellDef="let element">
          {{ element.startDate | formatoFecha }}
        </td>
      </ng-container>

      <!-- Fecha de vencimiento Column -->
      <ng-container matColumnDef="endDate">
        <th mat-header-cell *matHeaderCellDef i18n>Fecha de vencimiento</th>
        <td class="table-inf-cont" mat-cell *matCellDef="let element">
          {{ element.endDate | formatoFecha }}
        </td>
      </ng-container>

      <!-- Importe Column -->
      <ng-container matColumnDef="amount">
        <th mat-header-cell *matHeaderCellDef i18n>Importe</th>
        <td class="table-inf-cont" mat-cell *matCellDef="let element">
          {{ element.amount | formatoDinero }}
        </td>
      </ng-container>

      <!-- Estado de la póliza Column -->
      <ng-container matColumnDef="state">
        <th mat-header-cell *matHeaderCellDef i18n>Estado de la póliza</th>
        <td class="table-inf-cont" mat-cell *matCellDef="let element">
          <div
            [ngClass]="
              element.state === 'pagada'
                ? 'bg-green-100 text-green-700'
                : 'bg-yellow-100 text-gray-600'
            "
            class="rounded-lg p-1 inline-block"
          >
            <ng-container *ngIf="element.state === 'pagada'; else pendiente">
              <ng-icon class="mr-2" name="bootstrapCheck2"></ng-icon>
              Pagada
            </ng-container>
            <ng-template #pendiente>
              <ng-icon class="mr-2" name="bootstrapClock"></ng-icon>
              Pendiente
            </ng-template>
          </div>
        </td>
      </ng-container>

      <tr
        mat-header-row
        *matHeaderRowDef="[
          'nPolicy',
          'riskName',
          'startDate',
          'endDate',
          'amount',
          'state'
        ]"
      ></tr>
      <tr
        mat-row
        *matRowDef="
          let row;
          columns: [
            'nPolicy',
            'riskName',
            'startDate',
            'endDate',
            'amount',
            'state'
          ]
        "
      ></tr>
    </table>
  </div>
</div>

<div class="vertodas">
  <a mat-button routerLink="/renovaciones" i18n>Ver todas</a>
</div>

<div>
  <h3 class="mt-5" i18n>Clientes Potenciales</h3>
  <div class="clientesPotenciales grid grid-cols-1 md:grid-cols-2 gap-4">
    <ng-container *ngFor="let cliente of clipot; let i = index">
      <div class="card p-6 shadow-lg rounded-lg border">
        <div class="flex justify-between items-center mb-4">
          <h3 class="nombre" i18n>
            {{ cliente.personalData.name }} {{ cliente.personalData.surname }}
          </h3>
          <button
            mat-icon-button
            aria-label="Eliminar"
            (click)="eliminarCliente(i)"
          >
            <ng-icon class="iconos" name="bootstrapTrash"></ng-icon>
          </button>
        </div>
        <div class="praof">
          <p class="mb-1" i18n>
            Producto a ofrecer: {{ cliente.offerProduct }}
          </p>
        </div>

        <div class="bodyBold infoss flex mb-2">
          <p class="infos" i18n>Email: {{ cliente.personalData.email }}</p>
          <p class="infos" i18n>
            Teléfono: {{ cliente.personalData.phone | formatoTelefono }}
          </p>
        </div>
      </div>
    </ng-container>
  </div>
</div>
