<div class="welcome-section">
  <h1 class="title">Bienvenido a tu área personal</h1>
  <p class="subtitle">
    ¡Gracias a ti más personas pueden disfrutar de una vida más segura!
  </p>
</div>

<div class="table-container">
  <p>Próximas renovaciones</p>
  <div class="table-wrapper">
    <table>
      <thead>
        <tr>
          <th>No. de póliza</th>
          <th>Nombre del riesgo</th>
          <th>Fecha de contrato</th>
          <th>Fecha de vencimiento</th>
          <th>Importe</th>
          <th>Estado de la póliza</th>
        </tr>
      </thead>
      <tbody class="cuerpo">
        <tr *ngFor="let instalment of detalles1.instalments">
          <td class="terre">{{ detalles1.nPolicy }}</td>
          <td class="terre">{{ detalles1.riskName }}</td>
          <td class="terre">{{ instalment.startDate }}</td>
          <td class="terre">{{ instalment.endDate }}</td>
          <td class="terre">{{ instalment.amount }} €</td>
          <td
            class="border px-4 py-2"
            [ngClass]="{
              'text-green-600': instalment.state === 'pagada',
              'text-red-600': instalment.state === 'pendiente'
            }"
          >
            {{ instalment.state === "pagada" ? "Pagada" : "Pendiente" }}
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<div class="vertodas">
  <a mat-button routerLink="/renovaciones">Ver todas</a>
</div>
