@import "../../../styles.scss";

.welcome-section {
  /* Estilos de la sección de bienvenida */
  font-family: "Roboto";
  height: 70vh;
  text-align: center;
  padding: 100px 20px;
  position: relative;
  background-image: url("../../../assets/welcome-img.webp");
  background-size: cover;
  background-position: center;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.5); /* Fondo oscuro */
  background-blend-mode: multiply; /* Mezcla el color de fondo con la imagen de fondo */
}

.parrafos {
  margin-top: 150px;
}

.todo {
  margin: 15px;
  margin-top: 25px;
}

h3 {
  margin: 15px;
}

// No pilla los márgenes. Con el F12 se ve que los aplica pero no los muestra. La tabla está como "superpuesta" o nose.
tr {
  margin-top: 20px;
  margin-bottom: 20px;
}

.vertodas {
  text-align: center;
  padding: 5px;
  margin: 15px;
  background-color: $primary25;
  width: 7%;
  border: 0.7px solid $light;
  border-radius: 20px;
  &:hover {
    background-color: $light;
    border: 0.7px solid $primary;
    color: $text;
    text-align: center;
    padding: 5px;
    margin: 15px;
  }
}

a {
  color: $text;
  width: 100%;
  height: 100%;
}

.card {
  background-color: #ffffff;
  color: #1a202c;
}

.card:hover {
  background-color: #edf2f7;
}

.clientesPotenciales {
  padding: 15px;
  margin-top: -15px;
}

.nombre {
  font-family: "Roboto", sans-serif;
  font-weight: normal;
  font-size: 24px;
  letter-spacing: 0%;
}

.praof {
  margin-top: -15px;
  margin-bottom: 10px;
  color: $primary50;
}

.infoss {
  color: $primary;
  padding: 15px;
}
