@import "../../../styles.scss";

.spacer {
  flex: 1 1 auto;
}

.navbar {
  background-color: $nav-footer-bg;
  color: $text;
  padding: 16px 88px 16px 88px;
  width: fixed(1440px);
  height: hug(96px);
  border-bottom: 1px solid $grey25;
  justify-content: space-between;

  .navbar-logo {
    height: 40px;
  }

  .mat-button-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .mat-icon {
    margin-right: 4px;
    vertical-align: middle; /* Alinea verticalmente el icono con el texto */
    color: $primary;
  }

  span {
    vertical-align: middle; /* Alinea verticalmente el texto con el icono */
    margin: 0;
    font-family: "Roboto", sans-serif;
    font-weight: normal;
    font-size: 16px;
    letter-spacing: 0%;
  }

  a {
    color: $text;

    &:hover {
      background-color: $primary25;
      color: $text;
      border: 0.8px solid $primary;
    }
  }

  button {
    color: $text;

    &:hover {
      background-color: $primary25;
      color: $text;
      border: 0.8px solid $primary;
    }
  }
}

.cosas {
  cursor: pointer;
  margin: 5px;
  // padding: 20px;
}

.dropdown {
  background-color: $light;
  color: $text;
}
.dropdown-container {
  display: flex;
  align-items: center;
  padding: 20px;
}
