@import "../../../styles.scss";

.spacer {
  flex: 1 1 auto;
}

.navbar {
  background-color: $light;
  color: $text;
  padding: 10px;

  .navbar-logo {
    height: 40px;
  }

  .mat-button-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .mat-icon {
    margin-right: 4px;
    vertical-align: middle; /* Alinea verticalmente el icono con el texto */
    color: $primary;
  }

  span {
    vertical-align: middle; /* Alinea verticalmente el texto con el icono */
    margin: 0;
    font-family: "Roboto", sans-serif;
    font-weight: normal;
    font-size: 16px;
    letter-spacing: 0%;
  }

  a {
    color: $text !important;

    &:hover {
      background-color: $primary25;
      color: $light;
      border: 0.8px solid $primary;
    }
  }

  button {
    color: $text !important;

    &:hover {
      background-color: $grey50;
      color: $light;
      text-decoration: underline;
    }
  }
}

.cosas {
  cursor: pointer;
  margin: 5px;
}

.btnder {
  background-color: $light;
  color: $text;
  border: 0.8px solid $light;
  &:hover {
    background-color: $primary25;
    color: $light;
    border: 0.8px solid $primary;
    text-decoration: none;
  }
}

.aaa {
  color: $text !important;

  &:hover {
    background-color: $primary25 !important;
    color: $light !important;
    border: 0.8px solid $primary !important;
    text-decoration: none !important;
  }
}

.dropdown {
  background-color: $light !important;
  color: $text !important;
}
