<mat-toolbar class="navbar">
  <mat-toolbar-row>
    <img
      src="../../../assets/logoSI.webp"
      alt="Secura Insurance"
      class="navbar-logo"
    />
    <a mat-button routerLink="/home">Inicio</a>
    <a mat-button routerLink="/renovaciones">Próximas renovaciones</a>
    <span class="spacer"></span>

    <div class="cosas">
      <button class="aaa" mat-button [matMenuTriggerFor]="profile">
        <mat-icon>account_circle</mat-icon><span> Mi Perfil </span
        ><ng-icon class="mat-icon" name="bootstrapCaretDownFill"></ng-icon>
      </button>
      <mat-menu class="dropdown" #profile="matMenu">
        <button mat-menu-item>Perfil</button>
        <button mat-menu-item>Salir</button>
      </mat-menu>
    </div>
    <div class="cosas">
      <button class="aaa" mat-button [matMenuTriggerFor]="language">
        <mat-icon>language</mat-icon><span> Idioma </span
        ><ng-icon class="mat-icon" name="bootstrapCaretDownFill"></ng-icon>
      </button>
      <mat-menu #language="matMenu" class="dropdown">
        <button mat-menu-item>Español</button>
        <button mat-menu-item>English</button>
      </mat-menu>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
