@import "../../../styles.scss";

.example-spacer {
  flex: 1 1 auto;
}

html,
body {
  height: 100%;
  margin: 0;
  font-family: "Roboto", sans-serif;
}

.barra {
  background-color: $light;
  color: $text;
}

.botones {
}
