<div class="general-container">
  <div class="container-breadcrumbs">
    <ul class="breadcrumb">
      <li class="breadcrumb-item"><a routerLink="/">Pólizas</a></li>
      <li class="breadcrumb-item active" disabled>
        <a routerLink="/renovaciones">Próximas renovaciones</a>
      </li>
    </ul>
    <div class="renovations-policies">
      <div class="renovations">
        <h3 class="subtitle">Próximas renovaciones</h3>
      </div>

      <div class="policies">
        <ng-icon class="mat-icon" name="bootstrapFileEarmark"></ng-icon>
        <span>770 pólizas</span>
      </div>
    </div>
  </div>

  <div class="table-zone">
    <div class="filter-btn">
      <button class="btn">
        <ng-icon class="iconos" name="bootstrapSliders"></ng-icon>
        <span>Filtros</span>
      </button>
    </div>
    <div class="number-policies-order">
      <div class="number-policies"></div>
      <div class="order"></div>
    </div>
    <div class="table">
      <div>
        <table mat-table [dataSource]="dataSource" matSort>
          <!-- Nº poliza -->
          <ng-container matColumnDef="nPolicy">
            <th mat-header-cell *matHeaderCellDef mat-sort-header i18n>
              No. de póliza
            </th>
            <td mat-cell *matCellDef="let row">{{ row.nPolicy }}</td>
          </ng-container>

          <!-- Nombre Riesgo -->
          <ng-container matColumnDef="riskName">
            <th mat-header-cell *matHeaderCellDef mat-sort-header i18n>
              Nombre del riesgo
            </th>
            <td mat-cell *matCellDef="let row">{{ row.riskName }}</td>
          </ng-container>

          <!-- Fecha Contrato -->
          <ng-container matColumnDef="contractDate">
            <th mat-header-cell *matHeaderCellDef mat-sort-header i18n>
              Fecha de contrato
            </th>
            <td mat-cell *matCellDef="let row">
              {{ row.contractDate | formatoFecha }}
            </td>
          </ng-container>

          <!-- Fecha Vencimiento -->
          <ng-container matColumnDef="expirationDate">
            <th mat-header-cell *matHeaderCellDef mat-sort-header i18n>
              Fecha de vencimiento
            </th>
            <td mat-cell *matCellDef="let row">
              {{ row.expirationDate | formatoFecha }}
            </td>
          </ng-container>

          <!-- Importe -->
          <ng-container matColumnDef="amount">
            <th mat-header-cell *matHeaderCellDef mat-sort-header i18n>
              Importe
            </th>
            <td mat-cell *matCellDef="let row">
              <strong>{{ row.amount | formatoDinero }}</strong>
            </td>
          </ng-container>

          <!-- Estado póliza -->
          <ng-container matColumnDef="state">
            <th mat-header-cell *matHeaderCellDef mat-sort-header i18n>
              Estado de la póliza
            </th>
            <td mat-cell *matCellDef="let row">
              <div
                [ngClass]="
                  row.state === 'pagada'
                    ? 'bg-green-100 text-green-700'
                    : row.state === 'vencida'
                    ? 'bg-red-100 text-red-700'
                    : 'bg-yellow-100 text-gray-600'
                "
                class="flag rounded-lg inline-block"
              >
                <ng-container *ngIf="row.state === 'pagada'; else pendiente">
                  <ng-icon class="mr-2" name="bootstrapCheck2"></ng-icon>
                  Pagada
                </ng-container>
                <ng-template #pendiente>
                  <ng-container *ngIf="row.state === 'pendiente'; else vencida">
                    <ng-icon class="mr-2" name="bootstrapClock"></ng-icon>
                    Pendiente
                  </ng-container>
                  <ng-template #vencida>
                    <ng-icon class="mr-2" name="bootstrapXLg"></ng-icon>
                    Vencida
                  </ng-template>
                </ng-template>
              </div>
            </td>
          </ng-container>

          <!-- MatHeaderRow -->
          <tr
            class="arriba"
            mat-header-row
            *matHeaderRowDef="[
              'nPolicy',
              'riskName',
              'contractDate',
              'expirationDate',
              'amount',
              'state'
            ]"
          ></tr>
          <tr
            class="abajo"
            mat-row
            *matRowDef="
              let row;
              columns: [
                'nPolicy',
                'riskName',
                'contractDate',
                'expirationDate',
                'amount',
                'state'
              ]
            "
          ></tr>
        </table>

        <!-- Paginator -->
        <div>
          <mat-paginator
            [pageSizeOptions]="[5, 10]"
            showFirstLastButtons
            class="paginator"
          ></mat-paginator>
        </div>
      </div>
    </div>
  </div>
</div>
