// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use "@angular/material" as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$SecuraInsuranceEloy-primary: mat.define-palette(mat.$indigo-palette);
$SecuraInsuranceEloy-accent: mat.define-palette(
  mat.$pink-palette,
  A200,
  A100,
  A400
);

// The warn palette is optional (defaults to red).
$SecuraInsuranceEloy-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$SecuraInsuranceEloy-theme: mat.define-light-theme(
  (
    color: (
      primary: $SecuraInsuranceEloy-primary,
      accent: $SecuraInsuranceEloy-accent,
      warn: $SecuraInsuranceEloy-warn,
    ),
    typography: mat.define-typography-config(),
    density: 0,
  )
);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($SecuraInsuranceEloy-theme);

/* You can add global styles to this file, and also import other style files */

// tailwindcss
@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  height: 100%;
}

// Bases
$primary: #4b98d9;
$primary75: #6fa6d4;
$primary50: #9fc3e2;
$primary25: #cfe1f1;

// Neutral
$grey100: #353535;
$grey75: #686868;
$grey50: #9a9a9a;
$grey25: #cdcdcd;
$light: #fafcfe;

// Functions
$succes: #3bd378;
$error: #e75249;

// Information
$text: #191c3d;
$subltleText: #191c3d;
$ancent: #d8dbf5;
$inverseText: #f7f7fc;

// Aditionals
$nav-footer-bg: #ffffff;
$renovations-btn-bg: #eff3f5;
$renovations-btn-txt: #405258;
$filters-bg: #ffffff;

// Fonts
body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-weight: normal;
  font-size: 16px;
  letter-spacing: 0%;
  background-color: $light;
}

.bodyBold {
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  font-size: 16px;
  letter-spacing: 0%;
  line-height: 18.75px;
}

.title,
h1 {
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  font-size: 64px;
  letter-spacing: 0%;
}

h2 {
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  font-size: 40px;
  letter-spacing: 0%;
}

h3 {
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  font-size: 24px;
  letter-spacing: 0%;
}

.subtitle {
  font-family: "Roboto", sans-serif;
  font-weight: normal;
  font-size: 24px;
  letter-spacing: 0%;
}

.small {
  font-family: "Roboto", sans-serif;
  font-weight: medium;
  font-size: 10px;
  letter-spacing: 0%;
}

.smallTitle {
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  font-size: 10px;
  letter-spacing: 0%;
}

.iconos {
  color: $primary;
  font-size: 20px;
  margin-right: 5px;
}
