<!-- &#64; -->

<footer class="footer">
  <div class="footer-content">
    <div class="contact-info">
      <div>
        <h3>¿Necesitas ayuda?</h3>

        <p>
          <a href="mailto:atencionalcliente@securainsurance.com">
            <ng-icon class="iconos" name="bootstrapEnvelope"></ng-icon>
            atencionalcliente&#64;securainsurance.com</a
          >
        </p>
        <p>
          <a href="tel:900926676">
            <ng-icon class="iconos" name="bootstrapTelephone"></ng-icon> 900 926
            676</a
          >
        </p>
      </div>

      <div class="small refers">
        <a href="#">Pilítica de cookies</a>|<a href="#">Aviso Legal</a>|
        <a href="#">Política de privacidad</a>
      </div>
    </div>

    <div class="company-info">
      <div>
        <p>SECURA INSURANCE ESPAÑA, S.A.U</p>
        <p>Correo del director: director&#64;securainsurance.com</p>
      </div>

      <div class="copyright">
        <p>&copy; 2022 Securainsurance</p>
      </div>
    </div>
  </div>
</footer>
