@import "../../../styles.scss";

.footer {
  background-color: $nav-footer-bg;
  padding: 20px;
  box-shadow: 0px -2px 2px rgba(0, 0, 0, 0.1); /* Sombreado por arriba */
  margin-top: 20px;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
}

.contact-info,
.company-info,
.refers {
  flex: 1;
}

.contact-info h3 {
  font-size: 18px;
  margin-bottom: 10px;
  color: $primary;
}

.contact-info p,
.company-info p {
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-weight: normal;
  font-size: 16px;
  letter-spacing: 0%;
}

.contact-info a,
.company-info a {
  color: #333; /* Color de enlace */
}

.company-info {
  text-align: right;
  margin-top: 20px;
}

.refers,
.copyright {
  margin-top: 20px;
  font-size: 10px;
}

.refers {
  display: flex;
  justify-content: space-between;
  width: 50%;
}

.iconos {
  color: $primary;
}
