<footer class="footer">
  <div class="footer-content">
    <div class="footer-contact">
      <h4>¿Necesitas ayuda?</h4>
      <p>
        Email:
        <a href="mailto:atencionalcliente@securainsurance.com"
          >atencionalcliente&#64;securainsurance.com</a
        >
      </p>
      <p>Teléfono: <a href="tel:+34900926676">900 926 676</a></p>
    </div>
    <div class="footer-address">
      <p>SECURA INSURANCE ESPAÑA, S.A.U</p>
      <p>Calle Ribera del Loira 46, Madrid, 28042</p>
    </div>
  </div>
  <div class="footer-legal">
    <ul>
      <li><a href="#">Política de cookies</a></li>
      <li><a href="#">Aviso legal</a></li>
      <li><a href="#">Política de privacidad</a></li>
    </ul>
    <p>© 2022 Securainsurance</p>
  </div>
</footer>
