<!-- &#64; -->

<footer class="footer">
  <div class="footer-content">
    <div class="contact-info">
      <div>
        <h3 i18n>¿Necesitas ayuda?</h3>

        <div>
          <p style="display: flex; align-items: center">
            <a href="mailto:atencionalcliente@securainsurance.com">
              <ng-icon class="iconos" name="bootstrapEnvelope"></ng-icon>
              <span>atencionalcliente&#64;securainsurance.com</span></a
            >
          </p>
        </div>
        <div>
          <p style="display: flex; align-items: center">
            <a href="tel:900926676">
              <ng-icon class="iconos" name="bootstrapTelephone"></ng-icon>
              <span>900 926 676</span></a
            >
          </p>
        </div>
      </div>

      <div class="small refers">
        <a href="#">Política de cookies</a>|<a href="#">Aviso Legal</a>|
        <a href="#">Política de privacidad</a>
      </div>
    </div>

    <div class="company-info">
      <div>
        <p>SECURA INSURANCE ESPAÑA, S.A.U</p>
        <p>Calle Ribera del Loira 46, Madrid, 28042</p>
      </div>

      <div class="copyright">
        <p class="small">&copy; 2022 Securainsurance</p>
      </div>
    </div>
  </div>
</footer>
